#tabsfild {
    display: flex;
    max-width: 971px;
    margin: 0 auto;
    max-height: 571px;
    position: relative;
    .tabs {
        display: flex;
        flex-wrap: wrap;
        width: 971px;
        max-height: 570px;
        justify-content: space-between;
        padding: 0 37px;
        & .circle {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 185px;
            width: 185px;
            border-radius: 50%;
        }
        & .t1 {
            background-color: #5094f2;
            & img {
                height: 114px;
                width: 80px;
                fill: #fff;
            }
        }
        & .t2 {
            background-color: #d94748;
            & img {
                height: 83px;
                width: 96px;
            }
        }
        & .t3 {
            background-color: #ebbb11;
            & img {
                height: 91px;
                width: 101px;
            }
        }
        //& .pencil {
        //    height: 113px;
        //    width: 80px;
        //}
        & .monitor {
            height: 83px;
            width: 96px;
        }
        & .basketico {
            height: 91px;
            width: 101px;
        }
        .bbord {
            display: none;
        }
        .svg {
            fill: #fff;
        }
    }
    .tab-content {
        display: block;
        position: absolute;
        bottom: -100px;
        width: 100%;
        .textfild {
            width: 250px;
            text-align: center;
            & h2 {
                @include font($font-2, 1.3em, 400, #5094f2);
                margin: 20px;
            }
            & p {
                @include font($font-2, 0.8em, 400, #646464);
                line-height: 20px;
            }
        }

        & .t2 {
            margin: 0 auto;
        }
        & .t3 {
            float: right;
        }
    }
    @media (max-width: 767px) {
        #tabsfild {
            margin-bottom: 50px;
        }
        .textfild {
            & p {
                max-width: 80%;
            }
        }
        .tabs {
            flex-direction: column;
            flex-wrap: nowrap;
            max-width: 100%;
            height: 600px;
            justify-content: space-between;
            padding: 0 0 0 0;
            & .circle {
                display: flex;
                justify-content: center;
                align-items: center;
                max-height: 135px;
                max-width: 135px;
                border-radius: 50%;
                margin: 6.25% 4.6% 3.12% 6%;
            }
            .bbord {
                display: inline-block;
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: rgb(172, 172, 172);
                right: 0;
            }

            & .t1 {
                background-color: #5094f2;
                .bbord {
                    top: 33.33%;
                }
            }
            & .t2 {
                background-color: #d94748;
                .bbord {
                    top: 66.66%;
                }
            }
            & .t3 {
                background-color: #ebbb11;
                .bbord {
                    top: 99.99%;
                }
            }
            @media (max-width: 450px) {
                .circle {
                    max-height: 100px;
                    max-width: 100px;
                    margin: 5% 3.58% 2.2% 3%;
                }
                & .t1 img {
                    height: 70px;
                    width: 47px;
                }
                & .t2 img {
                    height: 50px;
                    width: 60px;
                }
                .t3 img {
                    height: 60px;
                    width: 66px;
                }
            }
        }

        .tab-content {
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 60%;
            right: 0;
            height: 100%;
            bottom: 0;
            .textfild {
                width: 100%;
                text-align: left;

                & h2 {
                    @include font($font-2, 1.5em, 400, #5094f2);
                    margin: 0;
                }
                & p {
                    @include font($font-2, 1em, 400, #646464);
                    line-height: 20px;
                }
                @media (max-width: 450px) {
                    & h2 {
                        @include font($font-2, 1em, 400, #5094f2);
                        margin-left: 15px;
                    }
                    & p {
                        @include font($font-2, 0.8em, 400, #646464);
                        margin-left: 15px;
                    }
                }
            }
            & .t1 {
                margin-top: 55px;
            }
            & .t2 {
                margin: 250px 0 0 0;
            }
            & .t3 {
                margin-top: 450px;
            }
        }
        @media (max-width: 450px) {
            .tabs {
                height: 400px;
            }
            .tab-content {
                & .t1 {
                    margin-top: 20px;
                }
                & .t2 {
                    margin: 155px 0 0 0;
                }
                & .t3 {
                    margin-top: 290px;
                }
            }
        }
    }
}
